<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">

	<!-- Factory Bean -->
	<bean id="factory"
		class="lithan.training.javawebapp.PaymentProcessorFactory"></bean>

	<!-- Google Pay -->
	<bean id="google-pay-method" factory-bean="factory"
		factory-method="getPaymentProcessor">
		<constructor-arg name="mode" value="google-pay"></constructor-arg>
	</bean>

	<bean id="google-pay-service"
		class="lithan.training.javawebapp.BillingService">
		<property name="paymentProcessor" ref="google-pay-method"></property>
	</bean>

	<!-- Credit Card -->
	<bean id="credit-card-method" factory-bean="factory"
		factory-method="getPaymentProcessor">
		<constructor-arg name="mode" value="credit_card"></constructor-arg>
	</bean>

	<bean id="credit-card-service"
		class="lithan.training.javawebapp.BillingService">
		<property name="paymentProcessor" ref="credit-card-method"></property>
	</bean>
</beans>
